<body>
<style>
#header {
    background-color:#AB73EC;
    color:white;
    font-family: sans-serif;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    
    font-family: sans-serif;
    padding:10px; 
}
#footer {
    background-color:#D2BBEB;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    font-family: sans-serif;
}
</style>

<div id="header">
<h1>Competing</h1>
</div>

<!--<div id="nav">
London<br>
Paris<br>
Tokyo
</div> -->

<div id="section">
<p>Competing is assertive and uncooperative, a power-oriented mode. When competing, an
individual pursues his or her own concerns at the other person's expense, using whatever power
seems appropriate to win his or her position. Competing might mean standing up for your rights,
defending a position you believe is correct, or simply trying to win.</p>
</div>

<div id="footer">
Collaborating
</div>

</body>

<!--<ion-view view-title="Competing">
    <ion-content class="padding">
<div class="card">
  <center><div class="item item-divider">
    Competing
  </div></center>
  <div class="item item-text-wrap">
    Competing is assertive and uncooperative, a power-oriented mode. When competing, an
individual pursues his or her own concerns at the other person's expense, using whatever power
seems appropriate to win his or her position. Competing might mean standing up for your rights,
defending a position you believe is correct, or simply trying to win.
  </div>
  <div class="item item-divider">
    Collaborating
  </div></center>
</div>
</ion-content>
</ion-view>
-->