<ion-view view-title="Menu" hide-back-button="true">
  <ion-nav-buttons side = "right">
    <button class="button" ui-sref="landing">
        Logout
        <i class="icon ion-log-out"></i>
         </button>
         </ion-nav-buttons>
  <ion-content class="padding">
   <div class="card">
  <center><div class="item item-divider">
    The Thomas-Kilmann Instrment
  </div>
  <div class="item item-text-wrap">
   <center>Because no two individuals have exactly the same expectations and desires, 
           conflict is a natural part of our interactions with others. The TKI is a self-scoring 
           assessment that takes about fifteen minutes to complete. It allows you to discover whether 
           you might be overusing (high score) or underusing (low score) one or more of these five 
           conflict-handling modes:
          <div class="list card">

  <a class="item">   <!--href="templates/Competing.html"-->
    Competing
  </a>

  <a class="item">
    Collaborating
  </a>

  <a class="item">
    Compromising
  </a>

  <a class="item">
    Avoiding
  </a>

<a class="item">
    Accommodating
  </a>
  
  </center>
  
  <button class="button button-block button-royal" ng-click=goToTest()>
      Take test
</button>
  
  <button class="button button-block ClassA" ui-sref="history">
    My Results
  </button>

</div>
  </ion-content>
</ion-view>